<p>
    --<br/>
    EFC Fiftyniners<br/>
    Offizieller Fanclub von Eintracht Frankfurt seit 1992<br/>
</p>
<p>
    Postanschrift:<br/>
    EFC Fiftyniners<br/>
    c/o Julia Wagner<br/>
    Phillip-Puth-Str. 41<br/>
    D-60388 Frankfurt am Main<br/>
</p>
<p>
    Kontoverbindung:<br/>
    Christoph Kutt<br/>
    IBAN: DE41 5139 0000 0066 5878 00<br/>
    BIC: VBMHDE5F<br/>
    Volksbank Mittelhessen<br/>
</p>